body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.wiki-img {
  width: 100%;
}

.wiki-item {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 3px 3px 20px black;
}

.wiki-content {
  padding: 10px;
}

@media only screen and (min-width: 600px) {

.container {
  max-width: 960px;
  margin: 0 auto;
}

.wiki-content {
  display: flex;
  flex-flow: row;
}
  
.img-container {
  min-width: 50%;
  max-width: 50%;
}
.wiki-text{
  min-width: 50%;
  max-width: 50%;
}
}


